In [1]:
import pandas as pd
from statsmodels.tsa.api import VAR
from sklearn.metrics import mean_squared_error

In [5]:

df = pd.read_csv('../datasets/apple2.csv', index_col = 0, parse_dates = True)  # Your multivariate time series data
df

                 Close     Volume
Date
2023-06-20  185.009995   49799100
2023-06-21  183.960007   49515700
2023-06-22  187.000000   51245300
2023-06-23  186.679993   53079300
2023-06-26  185.270004   48088700
...                ...        ...
2024-06-12  213.070007  198134300
2024-06-13  214.240005   97862700
2024-06-14  212.490005   70122700
2024-06-17  216.669998   93609800
2024-06-18  212.490005   70122700

[252 rows x 2 columns]

In [8]:
df_diff = df.diff(2)
print(df_diff)

                Close       Volume
Date
2023-06-20        NaN          NaN
2023-06-21        NaN          NaN
2023-06-22   1.990005    1446200.0
2023-06-23   2.719986    3563600.0
2023-06-26  -1.729996   -3156600.0
...               ...          ...
2024-06-12  19.950012  100872200.0
2024-06-13   7.090011  -74510600.0
2024-06-14  -0.580002 -128011600.0
2024-06-17   2.429993   -4252900.0
2024-06-18   0.000000          0.0

[252 rows x 2 columns]